<% include ../partials/header %>

<p><%= campground.name %></p>

<div style="width: 50%; text-align: right;">
    <img src=" <%= campground.image %> ">
    <p> 
        <%= campground.discription %> 
    </p>
</div>

<% campground.comments.forEach(function(comment){ %>
    <p>
        <strong><%= comment.author %></strong> - <%= comment.text %>
    </p>
<% }) %>



<% include ../partials/footer %>